.belanja__item {
    background: #171f38;
    padding: 0px 20px 20px 20px;
    padding-top: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
  .belanja__item h6 {
    color: #B4AEE8;
    margin-bottom: 20px;
    background: transparent;
  }
  
  .belanja__img {
    margin-top: 30px;
  
    background: transparent;
  }
  
  .belanja__img img {
    border-radius: 10px;
  }
  
  .belanja__keyword {
    padding: 5px 10px;
    color: #fff;
    background: #808dad68;
    font-size: 0.7rem;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .belanja__live {
    margin-left: -100px;
    margin-top: 30px;
    display: none;
  }
  
  .belanja__item:hover .belanja__live {
    margin-left: 0;
    display: block;
  }
  
  @media only screen and (max-width: 576px) {
    .belanja__img img {
      width: 100% !important;
    }
  }
  